.polaroid-string{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 24px;
  padding: 0 24px 24px;
  
  animation: popup 1s ease-out  forwards;
}

@keyframes popup
{
  100%{
    gap: 150px
  }
}
@media (max-width: 600px) {
  .polaroid-string {
    display: none;
  }
}

@media (max-width: 600px) {
  .polaroid-string {
    display: none;
  }
}

@media (max-width: 520px) {
  .polaroid-string {
    display: none;
  }
}
