
.banner-links-header{
  display: flex;
  font-size: 15px;
  justify-content: right;
  gap: 3em;
  padding: 15px 40px 15px 0px;
  
}

.more-option{
  display: flex;
  border: 3px solid black; 
  padding: 5px; 
  margin: 5px; 
}

.down-arrow{
  width: 25px;
  margin-bottom: 1px;
}


.nav-bar-container{
  display: flex;
  justify-content: center;
  gap: 5em;
  position: fixed;
  align-items: center;
  border-bottom: 3px black solid;
  background-color: rgba(0,0,0,0);
  z-index: 100;
  width: 800px;
  height: 60px;
}
.center-header{
  display: flex;
  justify-content: center;
  
}
.header-link{
  font-family: 'DIN Condensed Web';
  text-decoration: none;
  color: black;
  transition: color .15s;
  font-size: 20px;
  align-self: center;
  
}
.header-link:hover{
    color: rgba(205, 32, 39);
}

.logo{
  
  font-family: 'Archivo Black';
  text-decoration: none;
  color: black;
  text-align: center;
  padding: 15px 40px 15px 40px;
  transition: background-color .15s, color .15s;
  color: black;
  display: flex;
  justify-content: center;
}

.logo:hover{
  background-color: rgba(205, 32, 39);
  color: white;
}

.header-link-option{
  font-family: 'DIN Condensed Web';
  text-decoration: none;
  color: black;
  transition: color .15s;
  font-size: 20px;
  align-self: center;
}

.header-link-option:hover{
    color: rgba(205, 32, 39);
}

@keyframes stickyNav {
  100% {
    margin-top: 20px;
    width: 800px;
    border-radius: 50px;
    background-color: aqua;

    background: rgba(255, 255, 255, 0.2);
    border-radius: 50px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
  }
}