.banner-links-header{
  display: flex;
  font-size: 15px;
  justify-content: right;
  gap: 3em;
  padding: 15px 40px 15px 0px;
  
}

.logo{
  
  font-family: 'Archivo Black';
  text-decoration: none;
  color: black;
  text-align: center;
  margin-left: 20px;
  padding: 15px 40px 15px 20px;
  transition: background-color .15s, color .15s;
  color: rgba(205, 32, 39);
  display: flex;
  justify-content: center;
}

.logo:hover{
  background-color: rgba(205, 32, 39);
  color: white;
}

.nav-bar-container{
  display: flex;
  justify-content: space-between;
  position: fixed;
  align-items: center;
  background-color: whitesmoke;
  z-index: 4;
  animation: stickyNav linear forwards;
  width: 100%;
  height: 60px;
  animation-timeline: view();
  animation-range-start: 193vh;
  animation-range-end: 198vh;
}
.center-header{
  display: flex;
  justify-content: center;
  
}
.header-link{
  font-family: 'Archivo Black';
  text-decoration: none;
  color: black;
  transition: color .15s;
  
}
.header-link:hover{
    color: rgba(205, 32, 39);
  }


@keyframes stickyNav {
  100% {
    margin-top: 20px;
    width: 800px;
    border-radius: 50px;
    background-color: aqua;

    background: rgba(255, 255, 255, 0.2);
    border-radius: 50px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
  }
}