
.banner-links-header{
  display: flex;
  font-size: 15px;
  justify-content: right;
  gap: 3em;
  padding: 15px 40px 15px 0px;
  
}

.logo{
  font-family: 'DIN Condensed Web';
  text-decoration: none;
  color: black;
  transition: color .15s;
  font-size: 20px;
  align-self: center;
}

.more-option{
  display: flex;
  
}

.down-arrow{
  width: 25px;
  margin-bottom: 0px;
  transition: transform .15s;
}


.nav-bar-container{
  display: flex;
  justify-content: center;
  gap: 5em;
  position: fixed;
  align-items: center;
  border-bottom: 3px black solid;
  background-color: rgba(0,0,0,0);
  z-index: 100;
  width: 800px;
  height: 60px;
  animation: stickyNav linear forwards;
  animation-timeline: view();
  animation-range-start: 100vh;
  animation-range-end: 120vh;
}
.center-header{
  display: flex;
  justify-content: center;
  
}
.header-link{
  font-family: 'DIN Condensed Web';
  text-decoration: none;
  color: black;
  transition: color .15s;
  font-size: 20px;
  align-self: center;
  
}
.header-link:hover{
    color: rgba(205, 32, 39);
  }


@keyframes stickyNav {
  100% {
    margin-top: 20px;
    border: 3px black solid;
    background-color: #fefae0;
  }
  50%{
    background-color: #fefae0;
  }
}

.more-option:hover .down-arrow{
  transform: rotate(-90deg);
  margin-bottom: -3px;
}