.bar{
  height: 10px;
  
  width: 200px;
  padding: 15px 20px 10px 10px;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  background-color: rgba(235, 235, 235, 0);
  border-bottom: 2px solid black;
  font-size: 17px;
  margin-bottom: 7px;
}

.bar:focus{
  outline: none;
}
.search-bar{
  width: 300px;
  display: flex;
  gap: 15px;
}

.magnifying-img{
  width: 30px;
}