.featured-resource-container{
    display: grid;
    grid-template-columns: 1.5fr 2.5fr .75fr;
    background-color: #dda15e;
    margin-top: 50px;
    padding-bottom: 30px;
}

.featured-info{
    margin-left: 80px;
}

.featured-info h2{
    font-family: "DIN Condensed Web";
    font-size: 90px;
    margin-top: 20px;
    margin-bottom: 0px;
}

.featured-info p{
    margin-top: -10px;
    font-size: 25px;
    margin-left: 20px;
    margin-bottom: 10px;

}

.aspects{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 30px;
}

.aspect{    
  font-size: 35px;
  padding: 6px 16px 6px 16px;
  border: 1px solid #000000;
  border-radius: 999px;
  color: black;
  background-color: rgba(96, 108, 56, 1);
  transition: .2s ease-in-out;
}
.aspect:hover{
  box-shadow: 4px 5px rgb(0,0,0);
}
.featured-info h2 span{
    font-size: 30px;
    margin-bottom: 5px;
    color: rgb(36, 36, 36);
    margin-left: 20px;
    justify-self: center;
}
.text-header-please{
    font-family: "Yearbook Solid W01";
    font-size: 60px;
    text-align: center;
    white-space: nowrap;
    margin-top: 50px;
    background-color: #bc6c25;
    margin-left: 70px;
    margin-right: 70px;
    border: 2px solid black;
    border-radius: 4px;
    padding: 5px 12px 5px 12px;

}
.polaroid-holder{
  display: flex;
	cursor: pointer;
  justify-content: end;
  transform: rotate(-7deg);
  margin-top: 20px;
}

.text-section{
    display: flex;
    flex-direction: column;

}


.flex-holder .link{
  font-family: 'Yearbook Solid W01', 'Archivo Black', sans-serif;
  cursor: pointer;
  white-space: nowrap;
  color: black;
  font-size: 40px;
  letter-spacing: 3px;
  background-color: #bc6c25;
  padding: 5px 8px 5px 8px;
  border-radius: 4px;
  border: 2px black solid;
  text-decoration: none;
  transition: .2s box-shadow ease-in;
}

.link:hover{
    
  box-shadow: 7px 7px rgba(0, 0, 0, 1);
}

.next-button-container{
    display: flex;
    align-items: center;
    justify-content: left;
}
.next-button-container button{
    height: 60%;
    width: 80px;
    background-color: #606c38;
    padding: 5px 8px 5px 8px;
    border-radius: 4px;
    border: 2px black solid;
    box-shadow: 7px 7px rgba(0, 0, 0, 1);
    align-self: center;
    cursor: pointer;
    margin-left: 40px;
    transition: background-color .2s;
}

.next-button-container button:hover img{
    transform: rotate(270deg);
}

.next-button-container button:hover {
    background-color: #505a2f;
}
.next-button-container button:active {
    background-color: #444d28;
}

.next-button-container button img{
    width: 100%;
    transition: .6s transform ease-out;
    transform: rotate(-90deg);
}

.flex-holder{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-top: 50px;
}
@media (max-width: 1024px) {
  .featured-resource-container {
    grid-template-columns: 1fr;
    row-gap: 28px;
    padding: 32px 20px 40px;
  }

  .polaroid-holder {
    justify-content: center;
    transform: rotate(-4deg);
		cursor: pointer;
  }

  .text-header-please {
    margin: 20px auto 0;
    font-size: 40px;
    white-space: normal;
    max-width: 100%;
  }

  .featured-info {
    margin-left: 0;
    text-align: center;
  }

  .featured-info h2 {
    font-size: 56px;
  }

  .featured-info h2 span {
    display: block;
    margin-left: 0;
  }

  .featured-info p {
    margin-left: 0;
    font-size: 20px;
  }

  .aspects {
    flex-wrap: wrap;
    gap: 10px;
  }

  .aspect {
    font-size: 22px;
  }

  .flex-holder {
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
  }

  .flex-holder .link {
    font-size: 28px;
    letter-spacing: 2px;
    white-space: normal;
    text-align: center;
  }

  .next-button-container {
    justify-content: center;
  }

  .next-button-container button {
    margin-left: 0;
  }

  .next-button-container img{
    height: 110%;
  }
}

@media (max-width: 600px) {
  .featured-resource-container {
    margin-top: 24px;
    padding: 24px 16px 32px;
  }

  .text-header-please {
    margin-top: 24px;
    font-size: 32px;
    margin-left: 16px;
    margin-right: 16px;
  }

  .featured-info h2 {
    font-size: 40px;
  }

  .featured-info p {
    font-size: 18px;
  }

  .aspect {
    font-size: 18px;
    padding: 6px 12px;
  }

  .flex-holder .link {
    font-size: 24px;
  }

  .next-button-container button {
    width: 64px;
  }
}

@media (max-width: 600px) {
  .next-button-container button {
    width: 56px;
    height: 56px;
    padding: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
  }

  .next-button-container button img {
    width: 24px;
    height: 24px;
  }
}
