.featured-resource-container{
    display: grid;
    grid-template-columns: 1.5fr 3fr 1fr;
    background-color: #dda15e;

}
.polaroid-holder{
    display: flex;
    justify-content: end;
    transform: rotate(-7deg);
}

.text-section{
    display: flex;
    flex-direction: column;

}

.flex-holder{
    display: flex;
}

.flex-holder:first-child{
  font-family: 'Yearbook Solid W01', 'Archivo Black', sans-serif;
  
  white-space: nowrap;
  color: black;
  font-size: 40px;
  letter-spacing: 3px;
  background-color: #606c38;
  padding: 5px 8px 5px 8px;
  border-radius: 4px;
  border: 2px black solid;
  box-shadow: 7px 7px rgba(0, 0, 0, 1);
  text-decoration: none;
}

.next-button-container{
    display: flex;
    align-items: center;
}
.next-button-container button{
    height: 60%;
    width: 70px;
    background-color: #606c38;
    padding: 5px 8px 5px 8px;
    border-radius: 4px;
    border: 2px black solid;
    box-shadow: 7px 7px rgba(0, 0, 0, 1);
    align-self: center;
}
.next-button-container button img{
    width: 100%;
    transform: rotate(-90deg);
}