.featured-resource-container{ 
    margin-bottom: 200px;
}

.featured-header{
    font-family: Bebas Neue, Arial;
    color: rgb(27 77 92);
    letter-spacing: 1.8px;
    margin-left: 50px;
    margin-bottom: 0px;
    font-size: 69.3px;
}

.featured-resource-content-box{
    margin-top: 0px;
    position: relative;
    padding-bottom: 0;
    width: fit-content;
}

.featured-resource-image{
    width: 800px;
    margin-left: 250px;
    border-radius: 25px;
    height: 400px;
    object-fit: cover;
}

.featured-resource-info-box{
    position: absolute;
    background-color: rgb(161 197 208);
    top: 50%;
    right: -375px;
    transform: translateY(-50%);
    cursor: pointer;
    padding: 5px 30px 0 20px;
}

.featured-resource-info-box:hover .resource-name{
    color: white;
}

.school-name-presents{
    font-family: 'Courier New', Courier, monospace;
    color: rgba(27, 77, 92, 0.85);
    font-size: 16px;
    letter-spacing: -.3px;
    margin-bottom: -13px;
}

.resource-name{
    margin-top: 0;
    font-family: Bebas Neue;
    color: #37616e;
    font-size: 75px;
    letter-spacing: 2px;
    margin-bottom: 0;
    transition: color .15s;
}

.resource-info{
    margin-top: -25px;
    margin-left: 5px;
    margin-bottom: 0;
    letter-spacing: .6px;
    font-family: Bebas Neue;
    color: rgba(27, 77, 92, 0.85);
    font-size: 22.5px;
    
}

.resource-text{
    color: #00384a;
    font-family: Bebas Neue;
    font-size: 30px;
    margin-top: 8px;
    line-height: 35px;
    margin-bottom: 15px;
}

            