
.polaroid-container{
  background-color: white;
  height: 300px;
  width: 300px;
  padding: 26px 26px 130px 26px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, .2);
  transform: rotate(5deg);
}

.photo{
  width: 100%;
  height: 100%;
  object-fit: cover;
}