
.tabs-section{
  padding: 0px 100px 0px 100px;
  margin-top: 50px;
}
.tabs{
  display: flex;
  flex-wrap: wrap;
  padding: 25px;
}
.tabs input[type="radio"]{
  display: none;
}

.tabs label {
  padding: 10px 10px 7px 10px;
  background-color: #bc6c25;
  font-weight: bold;
  transition: background-color .1s;
  margin-bottom: 5px; 
  margin-right: 5px;
  border-radius: 2px;
  border: 1px solid black;
  box-shadow: 2px 2px rgb(0,0,0);
  cursor: pointer;
}
.tabs label:hover{
  background-color: #dda15e;
}

.tabs label img{
  width:40px;

}
.tabs .tab{
  width: 100%;
  padding: 20px;
  background: #bc6c25;
  order: 1;
  display: none;
  height: 400px;
  border-top: none;
  padding-left: 50px;
  padding-right: 50px;
  border-radius: 4px;
  border: 2px solid black;

  box-shadow: 7px 7px rgba(0, 0, 0, 1);
}

.tabs input[type="radio"]:checked + label + .tab{
  display: block;

}

.tabs input[type='radio']:checked + label{
  background-color: #606c38;
}

.left-area{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 400px;
}

.left-area h1{
  margin-top: 25px;
  font-family: 'Yearbook Solid W01', 'Archivo Black', sans-serif;
  
  white-space: nowrap;
  color: black;
  font-size: 150px;
  letter-spacing: 3px;
  background-color: #606c38;
  padding: 5px 20px 5px 20px;
  border-radius: 4px;
  border: 2px black solid;
  box-shadow: 7px 7px rgba(0, 0, 0, 1);
  margin-bottom: 25px;
}

.left-area p{
  align-self: center;
  margin-top: 0px;
  font-size: 25px;
  font-family: "DIN Condensed Web";
  color: black;
}

.stupid-div{
  display: flex;
  justify-content: space-around;
}

.link-holder{
  background-color: #dda15e;
  padding: 5px 20px 5px 20px;
  border-radius: 4px;
  border: 2px black solid;
  margin-bottom: 25px;
  width: auto;
  transition: box-shadow .15s;
  align-self: center;
}

.link-holder:hover{
  box-shadow: 8px 8px rgba(0, 0, 0, 1);

}
.link-tab{
  font-family: 'Yearbook Solid W01', 'Archivo Black', sans-serif;
  
  white-space: nowrap;
  color: black;
  font-size: 50px;
  letter-spacing: 3px;
  text-align: center;
  text-decoration: none;
}


.right-area{
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 400px;
  padding-left: 20px;
}

.right-area p{
  font-size: 24px;
  color: black;
  text-align: justify;
}


@media (max-width: 1024px) {
  .tabs-section {
    padding: 0 32px;
  }

  .tabs {
    padding: 16px;
  }

  .tabs .tab {
    height: auto;
    min-height: 0;
    padding: 20px 24px;
  }

  .stupid-div {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .left-area,
  .right-area {
    width: 100%;
    height: auto;
    padding-left: 0;
  }

  .left-area {
    align-items: center;
    text-align: center;
  }

  .left-area h1 {
    font-size: 90px;
    white-space: normal;
    text-align: center;
  }

  .left-area p {
    font-size: 20px;
    text-align: center;
  }

  .right-area p {
    font-size: 18px;
  }

  .link-tab {
    font-size: 36px;
    white-space: normal;
  }

  .link-holder {
    align-self: center;
  }
}

@media (max-width: 600px) {
  .tabs-section {
    padding: 0 16px;
    margin-top: 24px;
  }

  .tabs {
    padding: 12px;
  }

  .tabs label {
    padding: 8px;
  }

  .tabs label img {
    width: 32px;
  }

  .tabs .tab {
    padding: 16px;
  }

  .left-area h1 {
    font-size: 64px;
    padding: 4px 14px;
    letter-spacing: 2px;
  }

  .left-area p {
    font-size: 18px;
  }

  .right-area p {
    font-size: 16px;
    text-align: left;
  }

  .link-tab {
    font-size: 26px;
    letter-spacing: 2px;
  }
}
