footer h2{
  font-family: 'Yearbook Solid W01';
  letter-spacing: 5px;
  font-size: 150px;
  margin: 20px 0px 20px 50px;
}

.footer{
  display: flex;
  justify-content: space-around;
  padding-top: 50px;
  padding-bottom: 50px;
}

.subscribe-section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 50px;
}

.subscribe-section p{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  margin-top: 8px;
  margin-bottom: 0px;
}
.email-input{
  display: flex;
  gap: 16px;
}

.email-input input{
  padding: 20px 40px 20px 12px;
  font-size: 20px;
  transition: .15s ease-in;
  outline: none;
  border: 1px solid black;
  border-radius: 3px;
}

.email-input button{
  height: 70%;
  align-self: center;
  background-color: #dda15e;
  border-radius: 2px;
  border: 1px black solid;
  width: 60px;
  font-family: "DIN Condensed Web";
  font-size: 25px;
  transition: box-shadow .15s ease-in, background-color .1s;
  cursor: pointer;
}

.email-input button:hover{
  box-shadow: 2px 2px rgb(0,0,0);
}

.email-input button:active{
  background-color: #c18b4d;
}

.email-input input:focus{
  box-shadow: 3px 3px rgb(0,0,0);
}