.banner-links-header{

  display: flex;
  position: fixed;
  width: 100%;
  font-size: 15px;
  justify-content: right;
  gap: 3em;
  padding: 15px 40px 15px 0px;
  background-color: whitesmoke;
  z-index: 4;
  animation: stickyNav linear forwards;
  
  animation-timeline: view();
  animation-range-start: 170vh;
  animation-range-end: 180vh;
}

.center-header{
  display: flex;
  justify-content: center;
}
.header-link{
  font-family: 'Archivo Black';
  text-decoration: none;
  color: black;
}

@keyframes stickyNav {
  100% {
    margin-top: 20px;
    width: 700px;
    border-radius: 50px;
    background-color: aqua;

    background: rgba(255, 255, 255, 0.2);
    border-radius: 50px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
  }
}