.bar{
  height: 30px;
  width: 100%;
  padding: 15px 20px 15px 20px;
  border-radius: 30px;
  border: solid;
  border-color: rgb(0, 0, 0);
  background-color: rgb(235, 235, 235);
  border-width: 0px;
  font-size: 17px;
}

.search-bar{
  position: relative;
  width: 300px;
  transition: width .2s;
}

.search-bar:hover{
  width: 350px
}
.magnifying-img{
  position: absolute;
  top: 9px;
  right: -15px;
  width: 40px;
}