:root {
  --page-bg: #fefae0;
  --text-main: #1f1b16;
  --accent: #c43e5c;
  --accent-soft: #fde4c6;
  --border-muted: #e3c18a;
}

body {
  margin: 0;
  font-family: 'DIN Condensed Web', 'Helvetica Neue', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--page-bg);
  color: var(--text-main);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
